@page "/"

<PageTitle>Index</PageTitle>

<div class="container d-flex justify-content-center">
	<div class="mb-3 mt-3" style="max-width: 1200px;">
		<div class="row align-items-center mb-4 gy-2">
			<div class="col-md-4">
				<img src="https://cdn-4.motorsport.com/images/amp/6zQdbnPY/s1000/formula-1-austrian-gp-2023-max-2.jpg" class="img-fluid rounded shadow-sm">
			</div>
			<div class="col-md-8">
				<h3 class="border-bottom display-3 text-light">Race overview</h3>
				<p class="text-light">Pretrazite detaljne rezultate bilo kojih kvalifikacija i trke u istoriji Formule 1.</p>
				<a href="/raceOverview" class="btn btn-danger text-light" role="button">Pogledajte</a>
			</div>
		</div>
		<div class="row align-items-center mb-4 gy-2">
			<div class="col-md-8">
				<h3 class="border-bottom display-3 text-light">Driver vs. Driver</h3>
				<p class="text-light">Uporedite statistiku bilo koja vaša dva omiljena vozača u istoriji Formule 1 i vidite ko je bolji.</p>
				<a href="/driverVsDriver" class="btn btn-danger text-light" role="button">Pogledajte</a>
			</div>
			<div class="col-md-4">
				<img src="https://fivethirtyeight.com/wp-content/uploads/2021/04/GettyImages-1309620771-4x3-1.jpg" class="img-fluid rounded shadow-sm">
			</div>
		</div>
	</div>
</div>